html {
    height: 100%;
}

body {
    background-color: rgb(236, 236, 236);
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#game-canvas {
    position: relative;
    width: auto;
}

#sticky-footer {
    margin-top: auto;
    height: 80px;
    background: rgb(52, 58, 64);
    border-top: 4px solid rgb(204, 51, 51);
}

.menu-btn {
    width: 100px;
}

.score-info {
    -webkit-animation: pulse .25s;
    -moz-animation: pulse .25s;
    -o-animation: pulse .25s;
    animation: pulse .25s;
}

@keyframes pulse {
    from { transform: none; }
    50% { transform: scale(1.3); }
    to { transform: none; }
}

/* ---| Modal */
body.modal-visible {
    overflow: hidden;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    z-index: 99;

    background-color: rgba(0, 0, 0, 0.1);
}
body.modal-visible .modal {
    visibility: visible;
}

.modal-content {
    margin: auto;
    padding: 16px;
    width: 800px;
    max-width: 800px;
    min-height: 500px;
    transform: scale(0);

    transition: transform 1s ease;
    border-radius: 5px;
    background: white;
}
body.modal-visible .modal-content {
    transform: scale(1);
}